/* Section: Forum */
.forum {
  display: flex;
  width: 100%;
  padding: 50px 100px;
  gap: 100px;
}

.forum-left {
    width: 207px;
}

.forum-left .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.content a {
    text-decoration: none;
    color: black;
}

.forum-left p {
    font-weight: 500;
}

/* Section: Profil */
.forum-content {
    width: 80%;
}

.forum-content h1 {
    margin-bottom: 50px;
}

.buat-artikel {
    background-color: #36F;
    border-radius: 20px;
    padding: 20px 50px;
    color: white;
}

.buat-artikel h2 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container input {
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.container input[type="file"] {
    display: none;
    text-align: center;
}

.upload-file label {
    background-color: #3366FF;
    border-radius: 10px;
    padding: 5px 10px;
}

.upload-file label i {
    margin-right: 10px;
}

.upload-file {
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: white;
}

.container textarea {
    height: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.btn {
    justify-content: right;
    align-items: center;
}

.btn button{
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    padding: 5px 25px;
    color: white;
}

.cancel-btn {
    background-color: #BF0716;
}

.submit-btn {
    background-color: #0052DE;
}