    /* Section: Daftar Kunjungan */
    .upper-popup {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        align-items: center;
        padding: 0px 0px 40px 0px;
      }
    
      .upper-popup .buat-daftar {
        display: flex;
        width: 174px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
    
        border-radius: 20px;
        background: var(---Primary---Blue-source, #36F);
      }
    
      .buat-daftar:hover {
        background: #00348e;
        cursor: pointer;
      }
    
      .upper-popup .buat-daftar p {
        color: #F5F5F5;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 18px */
     }

  /* Search Box */
  
  .form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border: 1px solid #8C8C8C;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }
  
  .info {
      display: flex;
      gap: 30px;
      font-weight: 500;
      padding-bottom: 20px;
      border-bottom: 1px solid #D9D9D9;
  }
  
  .search input {
      border-radius: 20px;
      padding: 5px 20px;
  }

  /* Section: Container */
  .container {
    width: 80%;
    margin: auto;
    padding: 50px 0 50px 0;
  }

  .container-header {
    width: 100%;
    height: 500px;
    background-color: #8C8C8C;
  }

  .container-header img {
    width: 100%;
    height: 500px;
  }

  .artikel-kunjungan h1 {
    color: #000;
    font-size: 46.858px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .artikel-text {
    padding: 0px 0px 40px 0px;
  }

  .upper-text {
    display: flex;
    flex-direction: row;
  }

  .upper-text p {
    color: #000;
    text-align: center;

    /* Text 22 / Regular */
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 22px */
  }

  .upper-text h5 {
    text-align: center;
    margin: 0px 15px;

    /* Text 22 / Regular */
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 22px */
  }

  .artikel-text p {
    text-align: justify;

    /* Text 22 / Regular */
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 22px */
    padding-top: 10px;
  }

  .header {
    display: flex;
    flex-direction: row;
    padding: 30px 0px 0px 40px;
  }

  .header h5 {
    margin-left: 20px;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .description {
    padding-top: 10px;
  }

  .description p {
    padding: 0px 40px 0px 40px;
    color: #000;
    text-align: justify;
    font-size: 21.006px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .gallery {
    width: 100%;
  }
  
  .gallery h2 {
    font-size: 38px;
    font-weight: 700;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    cursor: pointer;
  }
  
  .card-container div img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    filter: brightness(75%);
    object-fit: cover;
    object-position: center;
    transition: all 1.1s;
  }
  
  .card-container div img:hover {
    transform: scale(1.2);
    border-radius: 20px;
  }
  
  .card-container div {
    position: relative;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
  }
  
  .card-container div span {
    position: absolute;
    top: 85%;
    left: 50%;
    font-weight: 500;
    font-size: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

   /* CSS untuk modal dan tombol */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.popup-map {
  width: 100%;
  height: 170px;
  background-color: #8C8C8C;
}

.popup-content {
  background-color: #fefefe;
  width: 1000px;
  height: 470px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
}

.popup-content {
  padding: 0 20px 0 20px;
}

.popup-header {
  padding: 20px 0 20px 0;
}

.popup-body, .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content label {
  font-weight: 400;
}

.content input, textarea {
  border-radius: 20px;
  border: 1px solid #8C8C8C;
  padding: 5px 20px;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px 0 0 0;
}

.close {
  border-radius: 20px;
  background: var(---Danger---Red-700, #BF0716);
  font-size: 20px;
  padding: 5px 30px;
  color: white;
  font-weight: 500;
  border: none;
}

.submit {
  border-radius: 20px;
  background: var(---Primary---Blue-source, #36F);
  font-size: 20px;
  padding: 5px 30px;
  color: white;
  font-weight: 500;
  border: none;
}

.submit:hover, .close:hover,
.submit:focus, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
