/* Section: Forum */
.forum {
  display: flex;
  width: 100%;
  gap: 100px;
  padding: 50px 100px;
  justify-content: space-between;
}

.forum-left {
    flex-grow: 1;
    flex-basis: 0;
}

.forum-left .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.content a {
    text-decoration: none;
    color: black;
}

.forum-left p {
    font-weight: 500;
}

.forum-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}

.judul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.judul h1 {
    font-weight: 500;
}

.user-rank {
  display: grid;
  padding-top: 20px;
  grid-gap: 10px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.user-rank .user {
  border-radius: 20px;
  padding: 20px 20px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border: 1px solid #8C8C8C;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

.search input {
  border-radius: 20px;
  padding: 5px 20px;
}

.forum-right .top-user {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  padding: 20px 20px;
  box-shadow:  -4px 4px 0px rgba(0, 0, 0, 0.25), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.top-user h3 {
  font-weight: 500;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user #user-profile {
  background-color: #36F;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 5px;
}

.star-poin svg {
  background-color: white;
}

.star-poin {
  display: flex;
  gap: 5px;
}

.poin {
  display: flex;
  flex-direction: column;
}

#poin {
  color: #8C8C8C;
}